body {
  font-family: sans-serif;
}

.container {
  border-radius: 10px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
select {
  border-radius: 4px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
}
footer {
  text-align: center;
}
