body {
  background: #cef9e2;
  font-family: sans-serif;
}

h1 {
  color: #421b9b;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: #421b9b;
  font-size: 28px;
  margin: 0 0 10px;
}

select {
  background: rgba(160, 110, 225, 0.5);
  border-radius: 4px;
  color: #421b9b;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.container {
  background: #cbbcf6;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(160, 110, 225, 0.6);
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #421b9b;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  color: #421b9b;
  opacity: 0.7;
}

.time {
  color: #421b9b;
  font-size: 48px;
  font-weight: bold;
}

footer {
  color: rgba(66, 27, 155, 0.8);
  font-size: 18px;
  text-align: center;
}
